.bet {
  text-transform: uppercase;
  font-size: 0.75rem; // 12 pixels
  letter-spacing: 0.75rem;
  margin-top: 0;
  margin-bottom: 0;
}

.pick {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem; // 20 pixels
}

.result {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
