// STRUCTURAL RULES

.section {
  padding: 5rem 1.5rem;
  // font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-family: "Lucida Console", Courier, monospace;
}

.list {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-left: 0;
  list-style-type: none;
}

.list:last-child {
  margin-bottom: 0;
}

.item {
  margin-top: 2rem;
}

.item:first-child {
  margin-top: 0;
}

.graph {
  margin-top: 0;
  margin-bottom: 1rem;
}

.graph:last-child {
  margin-bottom: 0;
}

// TYPOGRAPHY RULES

// .eyebrow {}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem; // 36 pixels
}

.summary {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 1.6875rem; // 27 pixels
}
