.scoreboard {
  background-color: black;
  padding: 0.5rem 1.5rem;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

.list {
  list-style-type: none;
  margin-top: 0.25rem;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  justify-content: space-between;
}

.list:first-child {
  margin-top: 0;
}
