.scoreboard {
  background-color: black;
  padding: 0.5rem 1.5rem;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  margin-top: 1rem;
}

.scoreboard:first-child {
  margin-top: 0;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  justify-content: space-between;
}

.stats {
  border-top: solid 1px #333;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  font-size: 0.75rem; // 12 pixels
}
