// STRUCTURAL RULES

.section {
  padding: 3rem 1.5rem;
}

.container {
  margin: 0 auto;
  max-width: 768px;
}

.body {
  padding: 1.5rem 1.5rem 5rem;
}

// TYPOGRAPHIC RULES

.heading {
  margin-top: 0;
  margin-bottom: 1rem;
}

.list {
  font-family: 'Lucida Console', Courier, monospace;
  font-size: 1.26rem;
  margin-top: 1rem;
  margin-bottom: 0;
  &:first-child {
    margin-top: 0;
  }
}
