// BODY RULES

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// MAIN RULES

.main {
  flex: 1;
}

// FOOTER RULES

.footer {
  background-color: whitesmoke;
  padding: 4rem 2rem;
  font-family: Verdana, Geneva, sans-serif;
}

.graph {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.75rem; // 12 pixels
  line-height: 1.62;
}

.graph:last-child {
  margin-bottom: 0;
}
