.banner {
  background-color: whitesmoke;
  padding: 0.5rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
  align-items: center;
}

.graph {
  justify-self: end;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 1rem;
}

.button {
  appearance: none;
  background-color: whitesmoke;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  line-height: 1;
  padding: 0.5rem;
}

// .button.modDecline {}

.button.modAllow {
  font-weight: 700;
}
