.banner {
  background-color: whitesmoke;
  padding: 0.5rem 1.5rem;
  font-family: Verdana, Geneva, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  align-items: center;
}

.graph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.75rem; // 12 pixels
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 0.5rem;
}

.button {
  background-color: whitesmoke;
  border: 1px solid rgba(black, .15);
  border-radius: 6px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.75rem;
  color: black;
  white-space: nowrap;
  line-height: 1.8rem;
  padding: 0 0.5rem;
  cursor: pointer;
  appearance: none;
  user-select: none;
}

// .button.modDecline {}

.button.modAllow {
  font-weight: 700;
}
