// TYPOGRAPHY RULES

.heading {
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.8125rem; // 45 pixels
  font-weight: normal;
}

// STRUCTURAL RULES

.article:first-child {
  padding-top: 3rem;
}

.container {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
}

.container:first-child {
  margin-top: 0;
}

.header {
  padding: 0 1.5rem;
}

// UTILITY RULES

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
